.app {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 3rem 2rem;
    height: 100%;
    min-height: 100vh;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);
    background-image: linear-gradient(
        -20deg, 
        var(--brand__1),
        var(--brand__2)
    );

    &__step {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
            border-bottom: 1.5px solid currentColor;
        }

        ul {
            list-style: none;

            display: flex;
            flex-direction: column;
            gap: .35rem;

            li {
                font-size: calc(var(--normal__size) - 2px);
                color: var(--white__trs);
                cursor: pointer;
                transition: .2s;

                &.active {
                    color: var(--white);
                    position: relative;
                    padding-left: 1rem;
                    font-weight: 600;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-40%);

                        width: 8px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background: orangered;
                    }
                }

                &:hover {
                    color: var(--white);
                }
            }
        }

        p {
            font-size: var(--normal__size);
        }

        .selection {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;

            p:not(:nth-child(1)) {
                padding: .15rem .5rem .25rem .5rem;
                background: var(--gray__trs);
                border-radius: 20px;
            }
        }

        &.step3 {
            align-items: center;
        }
    }

    .link {
        text-decoration: none;

        div {
            cursor: pointer;
            color: var(--white);
            border: 3px solid currentColor;
            padding: .6rem 1.2rem;
            border-radius: 30px;
            font-size: var(--normal__size);
            text-align: center;
        }
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;

        display: grid;
        place-items: center;
        
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100%;
        color: var(--black);

        .modal {
            width: 100%;
            max-width: 400px;
            background: var(--white);
            padding: 3rem 0;
            border-radius: 12px;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            p {
                font-size: calc(var(--normal__size) + 1.5px);
            }

            .link div {
                color: var(--black);
                transition: .2s;

                &:hover {
                    color: var(--brand__1);
                    background: var(--brand__trs);
                }
            }
        }
    }
}