:root {
  --normal__size:   19px;
  --medium__size:   32px;
  --big__size:      28px;
  --verybig__size:  54px;

  --brand__1:       #9a06de;
  --brand__2:       #5931f5;
  --brand__trs:     rgba(110, 46, 238, .2);

  --black:          black;
  --white:          rgb(199, 199, 199);
  --white__trs:     rgba(199, 199, 199, .7);
  --gray:           #434343;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  color: var(--white);
  background-image: linear-gradient(
    -20deg, 
    var(--brand__1),
    var(--brand__2)
  );
  background-repeat: no-repeat;
}

*::selection {
  color: var(--brand__1);
  background: var(--black);
}